/* Default Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: #3E2917;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #AB652C;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.shadow-puppet-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.shadow-puppet-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-in {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    padding: 40px;
    text-align: center;
    width: 50%;
    z-index: 1;
    color: #fff;
}

.sign-in h1 {
    font-size: 60px;
    color: #000;
    font-family: "Oranienbaum", serif;
    border-bottom: 3px solid #000;
    width: 200px; 
    margin: 0 auto; 
    margin-top: 80px;
}

.sign-in form {
    width: 100%;
    margin-top: 50px;
}

.sign-in form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.sign-in form .input-icon {
    position: relative;
    width: 100%;
    color: #fff;
}

.sign-in form .input-icon input {
    padding: 10px 10px 10px 40px; 
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #AB652C;
    color: #fff;
    font-family: "Oranienbaum", serif;
    background-image: url('..icon/icon_person.png'); 
    background-size: 20px; 
    background-position: 10px center; 
    background-repeat: no-repeat;
}

.sign-in form button {
    background-color: #fff;
    color: #000;
    padding: 10px 145px;
    border: 100px;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Oranienbaum", serif;
    margin-top: 20px; 
}

.sign-in form button:hover {
    background-color: #3E2917;
    color: #fff;
    font-family: "Oranienbaum", serif;
}

.a-sign-in {
    position: relative;
    bottom: -20px;
    left:  140px;
    color: #fff;
    text-decoration: underline;
    font-family: "Oranienbaum", serif;
}

.a-sign-back {
    position: relative;
    bottom: -20px;
    right:  140px;
    color: #fff;
    text-decoration: underline;
    font-family: "Oranienbaum", serif;
}



.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

/* Responsif */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        max-width: none;
    }

    .shadow-puppet-background {
        width: 100%;
    }

    .sign-in {
        position: static;
        top: auto;
        right: auto;
        transform: none;
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .sign-in h1 {
        font-size: 40px;
        margin-top: 40px;
    }

    .sign-in form {
        margin-top: 30px;
    }

    .sign-in form .input-icon input {
        padding: 10px 30px;
    }

    .sign-in form button {
        padding: 10px 50px;
    }
}
